* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
}

.left {
  flex-basis: 460px; /*flex상태에서 크기를 고정시킬때 활용*/
  height: 100%;
  background: #079992;
  padding: 40px;
  color: #f5fff7;
}

.left h1 {
  font-size: 60px;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.left p {
  color: #b63c9ba;
}

.right {
  flex: 1; /*나머지 공간을 다쓴다.*/
  height: 100%; /*container 부모요소의 높이가 지정되어 있으므로 height 100%지정가능함.*/
  display: flex;
  align-items: center; /*세로기준 중앙정렬 세로축을 기준으로 내용이 가운데 정렬됨*/
  justify-content: center; /*가로기준 중앙정렬, 양쪽정렬*/
}

.right .content {
  display: flex;
  flex-direction: column;
  width: 80%; /*너비크기가 줄어들때 전체 80% 비율을 유지*/
  max-width: 460px; /*너비크기가 최대일때 460px을 넘지않는다.*/
  color: #3c8271;
}

.right .content h2 {
  font-size: 36px;
  color: #0c2461;
  margin-bottom: 46px;
}

.gform {
  font-size: 18px;
  font-weight: bold;
}

.gform label {
  display: inline-block;
  padding-bottom: 10px;
}

.gform input,
.gform textarea {
  display: block;
  width: 100%;
  padding: 18px;
  font-size: 16px; /*input의 기본 font-size 는 12px이다*/
  margin-bottom: 30px;
  border: 1px solid transparent;
  background: #f2f7f3;
  border-radius: 10px;
  outline: none;
  color: #99a9af;
}

.gform input::placeholder,
.gform textarea::placeholder {
  color: #b5c5c5;
}

.gform input:focus,
.gform textarea:focus {
  background: #ffff;
  border: 1px solid #eee;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
}

.gform textarea {
  resize: vertical; /*가로크기조정불가, 세로크기만 조정가능*/
}

.btn {
  background: #3c8271;
  color: #fff;
  padding: 12px 30px;
  border: none;
  outline: none;
  cursor: pointer;
}

.close {
  background: #8d496b;
  padding: 10px 20px;
  cursor: pointer;
}

/*----- dimm,modal----- */
.dimm {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

.dimm i {
  font-size: 60px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dimm.active {
  display: block;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 400px;
  padding: 30px 20px;
  text-align: center;
  line-height: 1.7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  border-radius: 10px;
  box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.6);
}

.modal.active {
  opacity: 1;
  pointer-events: initial;
}

.modal span {
  display: block;
  font-size: 60px;
}

.modal p {
  padding: 20px;
}

/* .container.active .dimm {
  display: block;
}

.container.active .modal {
  opacity: 1;
  pointer-events: initial;
} */
