.filter_btns {
  display: flex;
  justify-content: space-between;
  text-align: center;
  /* background: red; */
  padding: 10px 0 100px;
}

.filter_btns button {
  width: 325px;
  height: 40px;
  font-size: 16px;
  color: var(--font_dark);
  font-weight: 900;
  background: var(--gray_box);
  border: none;
  outline: none;
  border-radius: 2px;
}

.filter_btns button.on {
  background: var(--font_white);
  color: var(--dark_bg);
}

.item {
  background: var(--dark_box);
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
}

.item p {
  padding: 5px 0 5px 5px;
}

.item span {
  color: #20b477;
}

/* .list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
} */

.list_item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns: repeat(4, 1fr); 1행에 2개의 item 반복하기 */
  /* grid-template-rows: 282px; 반응형으로 코드하기위해 row를 지정하지 않음*/
  gap: 18px;
}

.list_item img {
  width: 235px;
  height: 270px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.list_item .item {
  transition: all 0.5s;
}

.list_item .item:hover {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.6);
  transform: scale(1.05);
}

.list_item .item:hover img {
  opacity: 0.5;
}

/**
 * Simple fade transition,
 */
/* .mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
} */
